*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: hsl(216, 12%, 8%);
}
.container{
    background-color: hsl(213, 19%, 18%);
    width: min(300px, 90%);
    align-self: center;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    border-radius: 20px;
}
.content svg{
    background-color: rgba(149, 158, 172, 0.158);
    border-radius: 50%;
    padding: 13px;
}
h2{
    color: whitesmoke;
    margin-top: 20px;
    /* border: 1px solid; */
}
p{
    /* font-size: clamp(14px,5vh,35px); */
    font-size: 15px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.493);
    /* border: 1px solid; */
    margin-block: 20px 25px;
    font-weight: 400;
}
.rate_btn_wrapper{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.493);;
    padding: 13px 17px;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    color: white;
    background-color: hsla(0, 0%, 100%, 0.555);
}
button:focus{
    color: white;
    background-color: hsl(25, 97%, 53%);
}
.submit{
    background-color: hsl(25, 97%, 53%);
    color: white;
    /* border: 1px solid; */
    border-radius: 100vmax;
    text-align: center;
    padding: 7px 0px;
    cursor: pointer;
}
.submit:hover{
    background-color: whitesmoke;
    color: hsl(25, 97%, 53%);
    transition: 0.5s;
}
/* ----------------------------------------------thankyou */
.thank_you{
    /* border: 1px solid; */
    text-align: center;
    display: none;
}
.img_wrapper{
    display: flex;
    justify-content: center;
}
.img_wrapper img{
    width: 130px;
}
.rate_result{
    /* border: 1px solid; */
    color: hsla(25, 100%, 59%, 0.767);
    width: 190px;
    padding: 4px 0px;
    border-radius: 10px;
    background-color: rgba(149, 158, 172, 0.158);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1;
    margin: auto;
    margin-top: 20px;
}

